body {
    margin: 0;
    background-color: rgb(37, 37, 38);
}
h1 {
    color: red;
}
.make {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.cell {
    flex-grow: 1;
    border: solid 1px black;
}
.gameboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.board-one,
.board-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height: 500px;
}